@font-face{ 
	font-family: 'sail-regular';
	src: url('fontkit/sail-regular.eot');
	src: url('fontkit/sail-regular.eot?#iefix') format('embedded-opentype'),
	     url('fontkit/sail-regular.woff') format('woff'),
	     url('fontkit/sail-regular.ttf') format('truetype'),
	     url('fontkit/sail-regular.svg#webfont') format('svg');
}

body{
	background-color: #EC8373;
}
.title {
	display: block;
	margin: 0 auto;
	width: 800px;
}

h1{
	font-family: 'Helvetica';
	font-size: 400px;
	color: #FFFFFF;
	text-align: center;
	margin: 0;
	display:inline-block;
}

h2{
	font-family: 'sail-regular';
	font-size: 150px;
	color: #FFFFFF;
	text-align: center;
	margin: 0;
	display:inline-block ;
}

h3{
	font-family: 'sail-regular';
	font-size: 100px;
	color: #FFFFFF;
	text-align: center;
	margin: 50px;
}

a{
	color: #FFFFFF;
	float: right;
}
